<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="addnew()">เพิ่มใหม่</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editProduct (item) {},
    deleteProduct (item) {},
    addNew () {}
  },
  data () {
    return {
      fields: [
        {
          key: 'productId',
          label: 'ไอดี'
        },
        {
          key: 'name',
          label: 'ชื่อสินค้า'
        },
        {
          key: 'price',
          label: 'ราคา'
        },
        {
          key: 'operators',
          label: 'กระบวนการ'
        }
      ],
      productItems: [
        {
          productId: 1,
          name: 'iPad gen9 64G wifi',
          price: 11000.0
        },
        {
          productId: 2,
          name: 'iPad gen9 64G wifi',
          price: 12000.0
        },
        {
          productId: 3,
          name: 'iPad gen9 64G wifi',
          price: 13000.0
        },
        {
          productId: 4,
          name: 'iPad gen9 64G wifi',
          price: 14000.0
        },
        {
          productId: 5,
          name: 'iPad gen9 64G wifi',
          price: 15000.0
        },
        {
          productId: 6,
          name: 'iPad gen9 64G wifi',
          price: 16000.0
        },
        {
          productId: 7,
          name: 'iPad gen9 64G wifi',
          price: 17000.0
        },
        {
          productId: 8,
          name: 'iPad gen9 64G wifi',
          price: 18000.0
        },
        {
          productId: 9,
          name: 'iPad gen9 64G wifi',
          price: 19000.0
        },
        {
          productId: 10,
          name: 'iPad gen9 64G wifi',
          price: 20000.0
        }
      ]
    }
  }
}
</script>
<style></style>
