<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm
            :product="selectedItem"
            ref="productForm"
            @save="saveProduct"
          ></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price)="{ item }"> ฿{{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' )}} บาท </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'success', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log('Submit ', product)
      if (product.id === '') { // Add new
        axios.post('http://localhost:3000/products', product).then(
          function (response) {
            const newProduct = response.data
            this.getProducts()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newProduct._id + ' ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่ม ' + product._id, 'danger')
        })
      } else { // Update
        axios.put('http://localhost:3000/products/' + product._id, product).then(
          function (response) {
            const editProduct = response.data
            this.getProducts()
            this.makeToast('ปรับปรุงสำเร็จ', 'สินค้า ' + editProduct._id + ' ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามารถปรับปรุง ' + product._id, 'danger')
        })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`คุณต้องการลบสินค้า ${product._id} หรือไม่`)) {
      // const index = this.productItems.findIndex(function (item) {
      //   return product.id === item.id
      // })
      // this.productItems.splice(index, 1)
        axios.delete('http://localhost:3000/products/' + product._id).then(
          function (response) {
            const delProduct = response.data
            this.getProducts()
            this.makeToast('ลบสำเร็จ', 'สินค้า ' + delProduct._id + ' ถูกเพิ่มแล้ว')
          }.bind(this)
        ).catch(() => {
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ ' + product._id, 'danger')
        })
      }
    },
    getProducts () {
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        this.productItems = response.data
      }.bind(this))
    }

  },
  data () {
    return {
      fields: [
        {
          key: '_id',
          label: 'ไอดี'
        },
        {
          key: 'name',
          label: 'ชื่อสินค้า'
        },
        {
          key: 'price',
          label: 'ราคา'
        },
        {
          key: 'operators',
          label: 'กระบวนการ'
        }
      ],
      productItems: [
        // {
        //   id: 1,
        //   name: 'iPad gen9 64G wifi',
        //   price: 11000.0
        // },
        // {
        //   id: 2,
        //   name: 'iPad gen9 64G wifi',
        //   price: 12000.0
        // },
        // {
        //   id: 3,
        //   name: 'iPad gen9 64G wifi',
        //   price: 13000.0
        // },
        // {
        //   id: 4,
        //   name: 'iPad gen9 64G wifi',
        //   price: 14000.0
        // },
        // {
        //   id: 5,
        //   name: 'iPad gen9 64G wifi',
        //   price: 15000.0
        // },
        // {
        //   id: 6,
        //   name: 'iPad gen9 64G wifi',
        //   price: 16000.0
        // },
        // {
        //   id: 7,
        //   name: 'iPad gen9 64G wifi',
        //   price: 17000.0
        // },
        // {
        //   id: 8,
        //   name: 'iPad gen9 64G wifi',
        //   price: 18000.0
        // },
        // {
        //   id: 9,
        //   name: 'iPad gen9 64G wifi',
        //   price: 19000.0
        // },
        // {
        //   id: 10,
        //   name: 'iPad gen9 64G wifi',
        //   price: 20000.0
        // }
      ],
      // productId: 11,
      selectedItem: null
    }
  },
  mounted () {
    this.getProducts()
  }
}
</script>
<style></style>
